* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

.header-navigation {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu-item {
  border-right: 2px dotted black;
  padding-right: 40px;
}

.menu-item:last-child {
  border: none;
}

.menu-link:link,
.menu-link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px 0;
}

.subheader-logo {
  display: block;
  max-width: 100%;
  margin-bottom: 4px;
}

.subheader-logo-text {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
}

.subheader-call {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
  margin-bottom: 7px;
}

.subheader-phone:link,
.subheader-phone:visited {
  display: block;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
  text-decoration: none;
  color: #ffffff;
}

.subheader-btn {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

.section-offer {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
  text-align: center;
}

.offer-text {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 22px;
}

.offer-subtext {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 23px;
}

.offer-descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.offer-btn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

.section_reasons {
  padding: 71px 0 65px 0;
}

.label {
  margin: 0 auto 38px auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
  margin-bottom: 35px;
}

.reasons-round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons-text span {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  color: #1eacc7;
}

.reasons-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  color: #202020;
  max-width: 370px;
}

.row {
  justify-content: space-between;
}
